{
  "version": "1.0.0",
  "releaseDate": "2025-02-12",
  "minSupportedVersion": "1.0.0",
  "downloads": {
    "default": "browser-1.0.0-win64.zip",
    "win64": "browser-1.0.0-win64.zip",
    "win32": "browser-1.0.0-win32.zip",
    "linux64": "browser-1.0.0-linux64.tar.gz",
    "mac": "browser-1.0.0-mac.zip"
  }
}
